option_settings:
  aws:elasticbeanstalk:application:environment:
    FIREBASE_API_KEY: "AIzaSyCMA1F8Xd4rCxGXssXIs8Da80qqP6jien8"
    FIREBASE_PROJECT_ID: "cashclimb-d162c"
    COINMARKETCAP_API_KEY: "e2fa2fa3-ef84-4e08-8a73-ae43c073ab0d"
    ETHERSCAN_API_KEY: "G6YJ1PGVSDWY8VP11ZKYPQJ78VWIE7YAUQ"
    OPENAI_APIKEY: "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"
    PORT: 8000
    aws:elasticbeanstalk:container:java:
        JVM Options: "-Dserver.port=8000"
      aws:autoscaling:launchconfiguration:
        InstanceType: t2.micro
      aws:elasticbeanstalk:environment:
        EnvironmentType: SingleInstance